.showcase {
    min-width: 1016px;
    > section {
        min-height: 100vh;
        overflow: hidden;
        > .wrap {
            position: relative;
            max-width: 1016px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            overflow: hidden;
            img {
                position: absolute;
                display: inline-block;
            }
        }
    }
    // section 01 
    > .main {
        background: url("../img/main_bg.png") no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 1270px;
        > .wrap {
            // text 
            .main_text {
                .m_text01 {
                    top: 185px;
                    left: 202px;
                    z-index: 32;
                }
                .m_text02 {
                    top: 424px;
                    right: 234px;
                    z-index: 32;
                }
                .m_text03 {
                    top: 994px;
                    left: 202px;
                    z-index: 32;
                }
            }
            // shoes
            .main_shoes {
                .shoes01 {
                    top: 138px;
                    right: 82px;
                    z-index: 30;
                }
                .shoes02 {
                    top: 838px;
                    left: 88px;
                    z-index: 30;
                }
                .shoes03 {
                    top: 940px;
                    left: 482px;
                    z-index: 30;
                }
            }
            // imgbox
            .main_img {
                .m_img01_1 {
                    top: 60px;
                    right: 117px;
                    z-index: 28;
                }
                .m_img01_2 {
                    top: 319px;
                    left: 119px;
                    z-index: 28;
                }
                .m_img01_3 {
                    top: 609px;
                    left: 88px;
                    z-index: 28;
                }
                .m_img01_4 {
                    top: 580px;
                    left: 380px;
                    z-index: 28;
                }
                .m_img01_5 {
                    top: 580px;
                    left: 640px;
                    z-index: 28;
                }
                .m_img01_6 {
                    top: 869px;
                    right: 85px;
                    z-index: 28;
                }
                .m_img01_7 {
                    top: 1084px;
                    left: 88px;
                    z-index: 28;
                }
            }
        }
    }
    // section 02
    > .intro1 {
        background: url("../img/intro_bg.png") no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 1270px;
        > .wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            .intro1_text {
                .text {
                    display: block;
                    > img {
                        position: relative;
                        display: block;
                    }
                    &.center_img {
                        text-align: center;
                        margin: 69px 0;
                        > img {
                            display: inline-block;

                        }
                    }
                }
            }
        }
    }
    // section 03
    > .intro2 {
        background: #d5d5d5;
        height: 5080px;
        > .wrap {
            .shoes_section01 {
                height: 1270px;
                .shoes_text {
                    max-width: 500px;
                    margin: 440px auto 0;
                    .text {
                        text-align: center;
                        margin-bottom: 50px;
                        img {
                            position: relative;
                            display: inline-block;
                        }
                    }
                    
                }
                .shoes {
                    position: relative;
                    margin-top: 195px;
                    height: calc(100% - 195px);
                    .intro_shoes01 {
                        max-width: 890px;
                    }
                    .intro_shoes01_text {
                        position: absolute;
                        bottom: 30px;
                        left: 200px;
                    }
                }
            }

            .shoes_section02 {
                height: 1270px;
                .shoes {
                    position: relative;
                    height: 100%;
                    > img {
                        &.intro_shoes_01 {
                            top: -220px;
                            right: 160px;
                        }
                        &.intro_shoes_02 {
                            left: -200px;
                        }
                    }
                }
            }
            .shoes_section03 {
                height: 1270px;
                .shoes {
                    position: relative;
                    margin-top: 120px;
                    .intro_shoes_text03 {
                        left: 200px;
                        z-index: 10;
                    }
                    .intro_shoes_03 {
                        top: -200px;
                        left: -390px;
                    }
                }
            }
            .shoes_section04 {
                height: 1270px;
                .shoes {
                    position: relative;
                    .intro_shoes_text04 {
                        left: 230px;
                        z-index: 30;
                    }
                    .intro_shoes_05 {
                        right: 65px;
                        top: -150px;
                        z-index: 20;
                    }
                    .intro_shoes_06 {
                        left: -290px;
                        top: 70px;
                        z-index: 10;
                    }
                }
            }
        }
    }
}